<div class="container">
    <div class="row">
      <div class="offset-3 col-md-4  px-2 
      "  >
  
   
          <form>
            <fieldset disabled>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="Your email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Your password">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" name="rememberme">
                <label class="form-check-label">Remember me</label>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </fieldset>
          </form>	
        
  </div>
  </div>
  </div>
  
