<div class="container">
    <form action="">
  
      <label for="matricule">Matricule :</label>
      <input type="text" id="matricule" name="matricule" placeholder="Matricule">
  
      <label for="chassis">Chassis :</label>
      <input type="text" id="chassis" name="chassis" placeholder="Chassis">
  
      <label for="dateA">Date d'accident :</label> <br>
      <input type="date" id="dateA" name="dateA" placeholder="date d'accident"> <br>
        <br>
      <label for="degatconst"> Dégat constatés : </label>
      <textarea id="degatconst" name="degatconst" placeholder="Dégat constatés " style="height:200px"></textarea>
  
      <label for="lieuV">Lieu de véhicule :</label>
      <input type="text" id="lieuV" name="lieuV" placeholder="Lieu de véhicule">

      <label for="valeur">Valeur <strong>TND</strong> : </label>
      <input type="text" id="valeur" name="valeur" placeholder="Valeur"> 
        
      <label for="estV">Estimation Valeur épaves  <strong>TND </strong> : </label>
      <input type="text" id="estV" name="estV" placeholder="Estimation Valeur épaves">

      <label for="photoV">Photo de véhicule :  </label>
      <input type="file" > <br>



      



      <input type="submit" value="valider" name="valider"> <br>
      <br>
       <input type="submit" value="annuler" name="annuler">
      
     

  
    </form>
  </div>



