 
<div class="container">
 <div class="row">
        <div class="col-sm-3 ">
      <h2> </h2>
     <p></p>
     <div class="card" >
      <img class="card-img-top" src="assets/img/snistre_en_attante.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Snistres en attente</h4>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Consulter</a>
      </div>
     </div>
     </div>
     <div class="col-sm-3 ">
     <h2></h2>
     <p></p>
     <div class="card" >
      <img class="card-img-top" src="assets/img/rapport_pre.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Rapports préliminaires</h4>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Consulter</a>
      </div>
     </div>
     </div>
     <div class="col-sm-3 ">
        <h2></h2>
        <p></p>
        <div class="card" >
           
            
        
         <div class="card-body">
           <h4 class="card-title">Rapports finaux</h4>
           <p class="card-text"></p>
           <a href="#" class="btn btn-primary">Consulter</a>
         </div>
        </div>
        </div>
   
</div>
